<nav class="navbar flex-center">
  <div class="navbar__logo flex-center">
    <img src="../../../assets/images/logo_2.png" alt="logo" />
  </div>
  <div class="navbar__links">
    <ul class="flex-center" *ngIf="!user.authenticated">
      <li>Iniciar sesion</li>
    </ul>
    <ul class="flex-center" *ngIf="user.authenticated">
      <li>{{user.name}}</li>
      <li>{{user.department.name}}</li>
      <li>{{user.rut}}</li>
    </ul>
  </div>
  <div class="navbar__search flex-center">
    <i>Cerrar sesion</i>
  </div>
</nav>
