<nav class="navbar flex-center">
  <div class="navbar__logo flex-center">
    <img src="../../../assets/images/logo_2.png" alt="logo" />
  </div>
  <div class="navbar__links">
    <ul class="flex-center" *ngIf="!userService.user">
      <li>Iniciar sesion</li>
    </ul>
    <ul class="flex-center" *ngIf="userService.user">
      <li>{{userService.user.name}}</li>
      <li>{{userService.user.department.name}}</li>
      <li>{{userService.user.rut}}</li>
    </ul>
  </div>
  <div class="navbar__search flex-center">
    <i *ngIf="userService.user" (click)="userService.loggOut()">Cerrar sesion</i>
  </div>
</nav>
