<nav class="navbar flex-center">
  <div class="navbar__logo flex-center">
    <img src="../../../assets/images/logo_2.png" alt="logo" />
  </div>
  <div class="navbar__links">
    <ul class="flex-center" *ngIf="!constants._userConstants.user || constants._userConstants.user.Email === '-'">
      <li>Iniciar sesion</li>
    </ul>
    <ul class="flex-center" *ngIf="constants._userConstants.user && constants._userConstants.user.Email !== '-'">
      <li
        *ngIf="constants._userConstants.isBackButtonEnabled"
        (click)="closeUserPanel()"
        style="cursor: pointer"
      >
        <---
      </li>
      <li
        *ngIf="constants._scrnConstants.isPanelScreenOpened"
        (click)="closeScreenPanel()"
        style="cursor: pointer"
      >
        <---
      </li>
      <li
        *ngIf="
          (!constants._scrnConstants.isPanelScreenOpened ||
            constants._scrnConstants.isPanelScreenOpened) &&
          constants._userConstants.user.DepartmentID === 1 &&
          !constants._userConstants.isUserPanelOpened
        "
        [ngStyle]="
          !constants._scrnConstants.isPanelScreenOpened ? { cursor: 'pointer' } : {}
        "
        (click)="openScreenPanel()"
      >
        Pantallas
      </li>
      <li
        *ngIf="
          constants._userConstants.user.DepartmentID === 1 &&
          !constants._scrnConstants.isPanelScreenOpened &&
          (!constants._userConstants.isBackButtonEnabled ||
            constants._userConstants.isBackButtonEnabled)
        "
        (click)="openUserPanel()"
        [ngStyle]="
          !constants._userConstants.isUserPanelOpened
            ? { cursor: 'pointer' }
            : {}
        "
      >
        Usuarios
      </li>
      <li>{{ constants._userConstants.user.Name }}</li>
      <li>
        {{ constants._userConstants.departmentList[0].Name}}
      </li>
      <li>{{ constants._userConstants.user.Rut }}</li>
    </ul>
  </div>
  <div
    class="navbar__search flex-center"
    *ngIf="constants._userConstants.user && constants._userConstants.user.Email !== '-'"
  >
    <i
      *ngIf="constants._userConstants.user && constants._userConstants.user.Email !== '-'"
      (click)="loggOut()"
      style="cursor: pointer"
      >Cerrar sesion</i
    >
  </div>
</nav>
