<section
  class="flex-center border-box bg-primary"
  *ngIf="constants._scrnConstants.isCreateGroupOpened && !constants._scrnConstants.isActiveGroup"
>
  <form class="full-area flex-center inputBlock" (ngSubmit)="addGroup()">
    <label for="groupName">Ingrese el nombre del grupo:</label>
    <input
      id="groupName"
      name="groupName"
      type="text"
      [(ngModel)]="constants._scrnConstants.groupFormTemp.Name"
      style="cursor: text;"
    />
    <button type="submit" style="cursor: pointer;">Agregar</button>
  </form>
</section>
