<section
  class="flex-center border-box bg-primary"
  *ngIf="scrn._constants.isCreateGroupOpened && !scrn._constants.isActiveGroup"
>
  <form class="full-area flex-center inputBlock" (ngSubmit)="addGroup()">
    <label for="groupName">Ingrese el nombre del grupo:</label>
    <input
      id="groupName"
      name="groupName"
      type="text"
      [(ngModel)]="scrn._constants.groupFormTemp.name"
      style="cursor: text;"
    />
    <button type="submit" style="cursor: pointer;">Agregar</button>
  </form>
</section>
