<section
  class="flex-center border-box bg-primary"
  *ngIf="
    constants._scrnConstants.isCurrentGroup &&
    constants._scrnConstants.isActiveGroup
  "
>
  <div class="flex-center" id="screens">
    <ul class="flex-center" id="addScreen">
      <li
        *ngFor="let screen of constants._scrnConstants.selected"
        (click)="scrn.addScreen(screen)"
        class="full-area flex-center"
      >
        {{
          screen.ID +
            " | " +
            screen.Brand +
            " | Ubicación: " +
            screen.LocationID
        }}
      </li>
    </ul>
    <ul
      class="flex-center"
      id="screenAdded"
      *ngIf="constants._scrnConstants.currentGroup; else notCurrentGroup"
    >
      <li
        *ngFor="let screen of constants._scrnConstants.currentGroup.ScreenList"
        (click)="scrn.removeScreen(screen)"
        class="full-area flex-center"
      >
        {{
          screen.ID +
            " | " +
            screen.Brand +
            " | Ubicación: " +
            screen.LocationID
        }}
      </li>
    </ul>
    <ng-template #notCurrentGroup
      ><ul class="flex-center" id="screenAdded"></ul
    ></ng-template>
  </div>
  <div class="flex-center" id="config">
    <div class="flex-center" id="preview">
      <video
        class="full-area"
        playsInline
        autoplay
        loop
        *ngIf="
          constants._apiConstants.recharge &&
          constants._scrnConstants.currentGroup
        "
      >
        <source
          *ngIf="constants._scrnConstants.currentGroup.CurrentVideo"
          [src]="constants._scrnConstants.currentGroup.CurrentVideo"
          type="video/mp4"
        />
      </video>
    </div>
    <form
      (ngSubmit)="uploadFile()"
      class="flex-center"
      id="details"
      enctype="multipart/form-data"
    >
      <div class="flex-center" style="flex-flow: column nowrap">
        <input
          type="file"
          name="upload-video"
          id="upload-video"
          (change)="getFile($event)"
        />
        <progress
          style="width: 100%"
          id="file"
          max="100"
          [value]="progress.value"
          *ngIf="progress.inProgress"
        >
          {{ progress.value }}%
        </progress>
        <span *ngIf="progress.message !== ''">{{ progress.message }}</span>
      </div>
      <button type="submit">Guardar</button>
      <button
        type="button"
        (click)="
          delGroup(
            constants._scrnConstants.currentGroup,
            constants._userConstants.user
          )
        "
      >
        -
      </button>
    </form>
  </div>
</section>
