<section
  class="flex-center border-box bg-primary"
  *ngIf="scrn._screensConstants.isCurrentGroup && scrn._screensConstants.isActiveGroup"
>
  <div class="flex-center" id="screens">
    <ul class="flex-center" id="addScreen">
      <li
        *ngFor="let screen of scrn._screensConstants.selected"
        (click)="scrn.addScreen(screen)"
        class="full-area flex-center"
      >
        {{
          screen.id +
            " | " +
            screen.brand +
            " | Ubicación: " +
            screen.location.name
        }}
      </li>
    </ul>
    <ul
      class="flex-center"
      id="screenAdded"
      *ngIf="scrn._screensConstants.currentGroup; else notCurrentGroup"
    >
      <li
        *ngFor="let screen of scrn._screensConstants.currentGroup?.screenList"
        (click)="scrn.removeScreen(screen)"
        class="full-area flex-center"
      >
        {{
          screen.id +
            " | " +
            screen.brand +
            " | Ubicación: " +
            screen.location.name
        }}
      </li>
    </ul>
    <ng-template #notCurrentGroup
      ><ul class="flex-center" id="screenAdded"></ul
    ></ng-template>
  </div>
  <div class="flex-center" id="config">
    <div class="flex-center" id="preview">
      <video
        class="full-area"
        muted="true"
        autoplay
        loop
        *ngIf="api._apiConstants.recharge && scrn._screensConstants.currentGroup"
      >
        <source
          *ngIf="scrn._screensConstants.currentGroup.currentVideo"
          [src]="scrn._screensConstants.currentGroup.currentVideo"
          type="video/mp4"
        />
      </video>
    </div>
    <form
      (ngSubmit)="uploadFile()"
      class="flex-center"
      id="details"
      enctype="multipart/form-data"
    >
      <div class="flex-center" style="flex-flow: column nowrap">
        <input
          type="file"
          name="upload-video"
          id="upload-video"
          (change)="getFile($event)"
        />
        <progress
          style="width: 100%"
          id="file"
          max="100"
          [value]="progress.value"
          *ngIf="progress.inProgress"
        >
          {{ progress.value }}%
        </progress>
        <span *ngIf="progress.message !== ''">{{ progress.message }}</span>
      </div>
      <button type="submit">Guardar</button>
    </form>
  </div>
</section>
