<aside class="full-area border-box bg-primary">
  <ul class="full-area">
    <li
      *ngFor="let groupScreen of scrn.activeGroupScreens"
      (click)="takeScreens(groupScreen)"
      class="full-area flex-center border-box"
      [ngStyle]="{
        'background-color':
          scrn.currentGroup &&
          scrn.isActiveGroup &&
          scrn.currentGroup.id === groupScreen.id
            ? 'black'
            : 'transparent',
        'cursor':
          scrn.currentGroup &&
          scrn.isActiveGroup &&
          scrn.currentGroup.id === groupScreen.id
            ? 'default'
            : 'pointer',
        
      }"
    >
      <span
        >{{ groupScreen.name + " " }}
        <button type="button" (click)="delGroup(groupScreen)">-</button></span
      >
    </li>
    <button type="button" class="full-area border-box" (click)="addGroup()">
      Agregar Grupo
    </button>
  </ul>
</aside>
