<section
  class="flex-center border-box bg-primary"
  *ngIf="scrn._screensConstants.isPanelScreenUsed"
>
  <ul
    id="screensDetectedQueue"
    *ngIf="
      (scrn._screensConstants.isScreenModifiedOpened &&
        scrn._screensConstants.avalaibles &&
        scrn._screensConstants.avalaibles.length !== 0) ||
      (scrn._screensConstants.isScreenActivatedOpened &&
        scrn._screensConstants.screensDetectedQueue &&
        scrn._screensConstants.screensDetectedQueue.length !== 0)
    "
  >
    <li
      class="flex-center"
      *ngFor="
        let screen of scrn._screensConstants.isScreenActivatedOpened
          ? scrn._screensConstants.screensDetectedQueue
          : scrn._screensConstants.avalaibles
      "
      (click)="scrn.getScreenInQueue(screen)"
      [ngStyle]="
        !scrn._screensConstants.currentScreenInQueue
          ? { cursor: 'pointer' }
          : scrn._screensConstants.currentScreenInQueue.id === screen.id
          ? { 'background-color': 'black' }
          : { cursor: 'pointer' }
      "
    >
      <span
        [ngStyle]="
          !scrn._screensConstants.currentScreenInQueue
            ? { cursor: 'pointer' }
            : scrn._screensConstants.currentScreenInQueue.id === screen.id
            ? {}
            : { cursor: 'pointer' }
        "
        >ID:{{ " " + screen.id + " | " }}IP:{{ " " + screen.ip }}</span
      >
    </li>
  </ul>
  <form
    (ngSubmit)="
      scrn.getForm(
        scrn._screensConstants.screenDetectedForm,
        scrn._screensConstants.isScreenActivatedOpened &&
          !scrn._screensConstants.isScreenModifiedOpened
          ? 'isActivate'
          : 'isModify',
        userService._userConstants.user
      )
    "
    class="flex-center"
    id="screenQueueInfo"
    *ngIf="
      (scrn._screensConstants.isScreenModifiedOpened &&
        scrn._screensConstants.avalaibles &&
        scrn._screensConstants.avalaibles.length !== 0) ||
      (scrn._screensConstants.isScreenActivatedOpened &&
        scrn._screensConstants.screensDetectedQueue &&
        scrn._screensConstants.screensDetectedQueue.length !== 0)
    "
    [ngStyle]="
      scrn._screensConstants.isScreenActivatedOpened ||
      scrn._screensConstants.isScreenModifiedOpened
        ? { width: '100%' }
        : {}
    "
  >
    <div class="flex-center inputBlock">
      <label for="brand">Marca: </label>
      <input
        [(ngModel)]="scrn._screensConstants.screenDetectedForm.brand"
        type="text"
        name="brand"
        id="brand"
        style="cursor: text"
      />
    </div>
    <div class="flex-center inputBlock">
      <label for="location">Lugar:</label>
      <select
        [(ngModel)]="scrn._screensConstants.screenDetectedForm.location"
        name="location"
        id="location"
        style="cursor: pointer"
      >
        <option value="0"></option>
        <option
          *ngFor="let location of scrn._screensConstants.locations"
          [value]="location.id + 1"
        >
          {{ location.id + " | " + location.name }}
        </option>
      </select>
    </div>
    <div class="flex-center inputBlock">
      <label for="department">Departamento: </label>
      <select
        [selectedIndex]="
          scrn._screensConstants.screenDetectedForm
            ? scrn._screensConstants.screenDetectedForm.department
            : null
        "
        name="deparment"
        id="department"
        style="cursor: pointer"
        [(ngModel)]="scrn._screensConstants.screenDetectedForm.department"
      >
        <option value="0"></option>
        <option
          *ngFor="let department of userService._userConstants.departmentList"
          [value]="department.id + 1"
        >
          {{ department.name }}
        </option>
      </select>
    </div>
    <div class="flex-center inputBlock">
      <button type="submit" style="cursor: pointer">
        {{
          scrn._screensConstants.isScreenActivatedOpened &&
          !scrn._screensConstants.isScreenModifiedOpened
            ? "Activar"
            : "Guardar"
        }}
      </button>
    </div>
  </form>
  <ul
    class="flex-center"
    id="screensDetectedQueueDel"
    *ngIf="
      scrn._screensConstants.isScreenDesactivatedOpened &&
      scrn._screensConstants.avalaibles &&
      scrn._screensConstants.avalaibles.length !== 0
    "
  >
    <li
      class="flex-center"
      id="screenDetectedInfoDel"
      *ngFor="let screen of scrn._screensConstants.avalaibles"
    >
      <div class="flex-center full-area">
        <span>ID:{{ " " + screen.id + " | " }}IP:{{ " " + screen.ip }}</span>
        <span
          >Marca:{{ " " + screen.brand + " | " }}Lugar:{{
            " " + screen.location.name
          }}</span
        >
      </div>
      <button
        type="button"
        (click)="scrn.desactivateScreen(screen)"
        style="cursor: pointer"
      >
        Desactivar
      </button>
    </li>
  </ul>
  <h1
    *ngIf="
      (scrn._screensConstants.isScreenModifiedOpened ||
        scrn._screensConstants.isScreenDesactivatedOpened) &&
      (!scrn._screensConstants.avalaibles ||
        scrn._screensConstants.avalaibles.length === 0)
    "
    style="color: aliceblue; text-shadow: 1px 1px 2px black"
  >
    No se encontraron pantallas disponibles :(
  </h1>
  <h1
    *ngIf="
      scrn._screensConstants.isScreenActivatedOpened &&
      (!scrn._screensConstants.screensDetectedQueue ||
        scrn._screensConstants.screensDetectedQueue.length === 0)
    "
    style="color: aliceblue; text-shadow: 1px 1px 2px black"
  >
    No se encontraron pantallas detectadas en cola :(
  </h1>
</section>
