<section
  class="flex-center border-box bg-primary"
  *ngIf="constants._scrnConstants.isPanelScreenUsed"
>
  <!-- Menu de activacion o modificacion de pantallas  -->
  <ul
    id="screensDetectedQueue"
    *ngIf="
      (constants._scrnConstants.isScreenModifiedOpened &&
        constants._scrnConstants.avalaibles &&
        constants._scrnConstants.avalaibles.length !== 0) ||
      (constants._scrnConstants.isScreenActivatedOpened &&
        constants._scrnConstants.screensDetectedQueue &&
        constants._scrnConstants.screensDetectedQueue.length !== 0)
    "
  >
    <li
      class="flex-center"
      *ngFor="
        let screen of constants._scrnConstants.isScreenActivatedOpened
          ? constants._scrnConstants.screensDetectedQueue
          : constants._scrnConstants.avalaibles
      "
      (click)="scrn.getScreenInQueue(screen)"
      [ngStyle]="
        !constants._scrnConstants.currentScreenInQueue
          ? { cursor: 'pointer' }
          : constants._scrnConstants.currentScreenInQueue.id === screen.id
          ? { 'background-color': 'black' }
          : { cursor: 'pointer' }
      "
    >
      <span
        [ngStyle]="
          !constants._scrnConstants.currentScreenInQueue
            ? { cursor: 'pointer' }
            : constants._scrnConstants.currentScreenInQueue.id === screen.id
            ? {}
            : { cursor: 'pointer' }
        "
        >ID:{{ " " + screen.id + " | " }}IP:{{ " " + screen.ip }}</span
      >
    </li>
  </ul>
  <form
    *ngIf="
      (constants._scrnConstants.isScreenModifiedOpened &&
        constants._scrnConstants.avalaibles &&
        constants._scrnConstants.avalaibles.length !== 0) ||
      (constants._scrnConstants.isScreenActivatedOpened &&
        constants._scrnConstants.screensDetectedQueue &&
        constants._scrnConstants.screensDetectedQueue.length !== 0)
    "
    (ngSubmit)="
      scrn.getForm(
        constants._scrnConstants.screenDetectedForm,
        constants._scrnConstants.isScreenActivatedOpened &&
          !constants._scrnConstants.isScreenModifiedOpened
          ? 'isActivate'
          : 'isModify',
        constants._userConstants.user
      )
    "
    class="flex-center"
    id="screenQueueInfo"
    [ngStyle]="
      constants._scrnConstants.isScreenActivatedOpened ||
      constants._scrnConstants.isScreenModifiedOpened
        ? { width: '100%' }
        : {}
    "
  >
    <div class="flex-center inputBlock">
      <label for="brand">Marca: </label>
      <input
        [(ngModel)]="constants._scrnConstants.screenDetectedForm.Brand"
        type="text"
        name="brand"
        id="brand"
        style="cursor: text"
      />
    </div>
    <div class="flex-center inputBlock">
      <label for="location">Lugar:</label>
      <select
        [(ngModel)]="constants._scrnConstants.screenDetectedForm.LocationID"
        name="location"
        id="location"
        style="cursor: pointer"
      >
        <option value="0"></option>
        <option
          *ngFor="let location of constants._scrnConstants.locations"
          [value]="location.ID + 1"
        >
          {{ location.ID + " | " + location.Name }}
        </option>
      </select>
    </div>
    <div class="flex-center inputBlock">
      <label for="department">Departamento: </label>
      <select
        [selectedIndex]="
          constants._scrnConstants.screenDetectedForm
            ? constants._scrnConstants.screenDetectedForm.DepartmentID
            : null
        "
        name="deparment"
        id="department"
        style="cursor: pointer"
        [(ngModel)]="constants._scrnConstants.screenDetectedForm.DepartmentID"
      >
        <option value="0"></option>
        <option
          *ngFor="let department of constants._userConstants.departmentList"
          [value]="department.ID + 1"
        >
          {{ department.Name }}
        </option>
      </select>
    </div>
    <div class="flex-center inputBlock">
      <button type="submit" style="cursor: pointer">
        {{
          constants._scrnConstants.isScreenActivatedOpened &&
          !constants._scrnConstants.isScreenModifiedOpened
            ? "Activar"
            : "Guardar"
        }}
      </button>
    </div>
  </form>
  <!-- Menu de desactivacion de pantallas -->
  <ul
    class="flex-center"
    id="screensDetectedQueueDel"
    *ngIf="
      constants._scrnConstants.isScreenDesactivatedOpened &&
      constants._scrnConstants.avalaibles &&
      constants._scrnConstants.avalaibles.length !== 0
    "
  >
    <li
      class="flex-center"
      id="screenDetectedInfoDel"
      *ngFor="let screen of constants._scrnConstants.avalaibles"
    >
      <div class="flex-center full-area">
        <span>ID:{{ " " + screen.ID + " | " }}IP:{{ " " + screen.IP }}</span>
        <span
          >Marca:{{ " " + screen.Brand + " | " }}Lugar:{{
            " " + screen.LocationID
          }}</span
        >
      </div>
      <button
        type="button"
        (click)="scrn.desactivateScreen(screen)"
        style="cursor: pointer"
      >
        Desactivar
      </button>
    </li>
  </ul>
  <!-- Mensaje en caso de no haber disponibles -->
  <h1
    *ngIf="
      (constants._scrnConstants.isScreenModifiedOpened ||
        constants._scrnConstants.isScreenDesactivatedOpened) &&
      (!constants._scrnConstants.avalaibles ||
        constants._scrnConstants.avalaibles.length === 0)
    "
    style="color: aliceblue; text-shadow: 1px 1px 2px black"
  >
    No se encontraron pantallas disponibles :(
  </h1>
  <!-- Mensaje en caso de no haber en cola -->
  <h1
    *ngIf="
      constants._scrnConstants.isScreenActivatedOpened &&
      (!constants._scrnConstants.screensDetectedQueue ||
        constants._scrnConstants.screensDetectedQueue.length === 0)
    "
    style="color: aliceblue; text-shadow: 1px 1px 2px black"
  >
    No se encontraron pantallas detectadas en cola :(
  </h1>
</section>
