<aside class="full-area border-box bg-primary">
  <ul class="full-area">
    <li
      class="full-area flex-center"
      (click)="openScreenActivated()"
      [ngStyle]="
        !constants._scrnConstants.isScreenActivatedOpened
          ? { cursor: 'pointer' }
          : { 'background-color': 'black' }
      "
    >
      Activar Pantalla
    </li>
    <li
      class="full-area flex-center"
      (click)="openScreenModified()"
      [ngStyle]="
        !constants._scrnConstants.isScreenModifiedOpened
          ? { cursor: 'pointer' }
          : { 'background-color': 'black' }
      "
    >
      Modificar Pantalla
    </li>
    <li
      class="full-area flex-center"
      (click)="openScreenDesactivated()"
      [ngStyle]="
        !constants._scrnConstants.isScreenDesactivatedOpened
          ? { cursor: 'pointer' }
          : { 'background-color': 'black' }
      "
    >
      Desactivar Pantalla
    </li>
  </ul>
</aside>
