<section
  class="flex-center border-box bg-primary"
  *ngIf="constants._userConstants.isPanelUsed"
>
  <ul id="usersList" *ngIf="constants._userConstants.isUpdateUserOpened">
    <li
      class="flex-center"
      *ngFor="let user of constants._userConstants.usersList"
      (click)="getUser(user)"
      [ngStyle]="
        !constants._userConstants.currentUser
          ? { cursor: 'pointer' }
          : constants._userConstants.currentUser.ID === user.ID
          ? { 'background-color': 'black' }
          : { cursor: 'pointer' }
      "
    >
      <span>{{ user.Name }}</span
      ><span>{{ user.Rut }}</span
      ><span>{{ user.DepartmentID }}</span>
    </li>
  </ul>
  <form
    (ngSubmit)="
      userService.getForm(
        constants._userConstants.userFormTemp,
        constants._userConstants.isCreateUserOpened &&
          !constants._userConstants.isUpdateUserOpened
          ? 'isCreate'
          : 'isUpdate'
      )
    "
    class="flex-center"
    id="userInfo"
    *ngIf="
      constants._userConstants.isCreateUserOpened ||
      constants._userConstants.isUpdateUserOpened
    "
    [ngStyle]="
      constants._userConstants.isCreateUserOpened ? { width: '100%' } : {}
    "
  >
    <div class="flex-center inputBlock">
      <label for="name">Nombre: </label>
      <input
        [(ngModel)]="constants._userConstants.userFormTemp.name"
        type="text"
        name="name"
        id="name"
        style="cursor: text"
      />
    </div>
    <div class="flex-center inputBlock">
      <label for="rut">Rut: </label>
      <input
        [(ngModel)]="constants._userConstants.userFormTemp.rut"
        type="text"
        name="rut"
        id="rut"
        style="cursor: text"
      />
    </div>
    <div
      class="flex-center inputBlock"
      *ngIf="!constants._userConstants.isCreateUserOpened"
    >
      <label for="oldPass">Contraseña Actual: </label>
      <input
        type="password"
        name="oldPass"
        id="oldPass"
        style="cursor: text"
        [(ngModel)]="constants._userConstants.userFormTemp.password"
      />
    </div>
    <div class="flex-center inputBlock">
      <label for="newPass">Nueva contraseña: </label>
      <input
        type="password"
        name="newPass"
        id="newPass"
        style="cursor: text"
        [(ngModel)]="constants._userConstants.userFormTemp.newPass"
      />
    </div>
    <div class="flex-center inputBlock">
      <label for="newPassConfirm">Confirmar nueva contraseña: </label>
      <input
        type="password"
        name="newPassConfirm"
        id="newPassConfirm"
        style="cursor: text"
        [(ngModel)]="constants._userConstants.userFormTemp.confirmPass"
      />
    </div>
    <div class="flex-center inputBlock">
      <label for="email">Email: </label>
      <input
        type="email"
        name="email"
        id="email"
        style="cursor: text"
        [(ngModel)]="constants._userConstants.userFormTemp.email"
      />
    </div>
    <div class="flex-center inputBlock">
      <label for="department">Departamento: </label>
      <select
        [selectedIndex]="
          constants._userConstants.currentUser &&
          constants._userConstants.isUpdateUserOpened
            ? constants._userConstants.currentUser.DepartmentID + 1
            : null
        "
        name="deparment"
        id="department"
        style="cursor: pointer"
        [(ngModel)]="constants._userConstants.userFormTemp.department"
      >
        <option value="0"></option>
        <option
          *ngFor="let department of constants._userConstants.departmentList"
          [value]="department.ID + 1"
        >
          {{ department.Name }}
        </option>
      </select>
    </div>
    <div class="flex-center inputBlock">
      <button type="submit" style="cursor: pointer">Guardar</button>
    </div>
  </form>
  <ul
    class="flex-center"
    id="userListDel"
    *ngIf="constants._userConstants.isDeleteUserOpened"
  >
    <li
      class="flex-center"
      id="userData"
      *ngFor="let user of constants._userConstants.usersList"
    >
      <div class="flex-center full-area">
        <span
          >Nombre:{{ " " + user.Name + " | " }}Rut:{{ " " + user.Rut }}</span
        >
        <span
          >Email:{{ " " + user.Email + " | " }}Area:{{
            " " + user.DepartmentID
          }}</span
        >
      </div>
      <button
        type="button"
        (click)="deleteUser(user)"
        style="cursor: pointer"
      >
        Eliminar
      </button>
    </li>
  </ul>
</section>
