<main class="flex-center">
  <form class="flex-center" (ngSubmit)="userService.loggIn(form)">
    <br />
    <input
      type="text"
      name="user"
      id="user"
      #user="ngModel"
      [(ngModel)]="form.email"
      placeholder="Ingrese su usuario..."
    /><br />
    <input
      type="password"
      name="pass"
      id="pass"
      #pass="ngModel"
      [(ngModel)]="form.pass"
      placeholder="Ingrese su Contraseña..."
    />
    <br />
    <button type="submit" class="flex-center" id="submit">
      <img src="../../../assets/images/logo_2.png" alt="" />
    </button>
  </form>
</main>
