<section
  class="flex-center border-box bg-primary"
  *ngIf="userService.isPanelUsed"
>
  <ul id="usersList" *ngIf="userService.isUpdateUserOpened">
    <li>Usuario 1</li>
    <li>Usuario 1</li>
    <li>Usuario 1</li>
    <li>Usuario 1</li>
    <li>Usuario 1</li>
  </ul>
  <form
    class="flex-center"
    id="userInfo"
    *ngIf="userService.isCreateUserOpened || userService.isUpdateUserOpened"
    [ngStyle]="userService.isCreateUserOpened ? { width: '100%' } : {}"
  >
    <div class="flex-center inputBlock">
      <label for="name">Nombre: </label>
      <input type="text" name="name" id="name" />
    </div>
    <div class="flex-center inputBlock">
      <label for="rut">Rut: </label>
      <input type="text" name="rut" id="rut" />
    </div>
    <div class="flex-center inputBlock" *ngIf="!userService.isCreateUserOpened">
      <label for="oldPass">Contraseña Actual: </label>
      <input type="password" name="oldPass" id="oldPass" />
    </div>
    <div class="flex-center inputBlock">
      <label for="newPass">Nueva contraseña: </label>
      <input type="password" name="newPass" id="newPass" />
    </div>
    <div class="flex-center inputBlock">
      <label for="newPassConfirm">Confirmar nueva contraseña: </label>
      <input type="password" name="newPassConfirm" id="newPassConfirm" />
    </div>
    <div class="flex-center inputBlock">
      <label for="email">Email: </label>
      <input type="email" name="email" id="email" />
    </div>
    <div class="flex-center inputBlock">
      <label for="department">Departamento: </label>
      <select name="deparment" id="department">
        <option value="">Marketing</option>
        <option value="">TIC</option>
      </select>
    </div>
    <div class="flex-center inputBlock">
      <button type="submit">Guardar</button>
    </div>
  </form>
  <ul class="flex-center" id="userList" *ngIf="userService.isDeleteUserOpened">
    <li
      class="flex-center"
      id="userData"
      *ngFor="let user of userService.usersList"
    >
      <span>Nombre:</span>
      <span>Rut:</span>
      <span>Email:</span>
      <span>Area:</span>
    </li>
  </ul>
</section>
