<section
  class="flex-center border-box bg-primary"
  *ngIf="userService.isPanelUsed"
>
  <ul id="usersList" *ngIf="userService.isUpdateUserOpened">
    <li
      class="flex-center"
      *ngFor="let user of userService.usersList"
      (click)="userService.getUser(user)"
      [ngStyle]="
        !userService.currentUser
          ? { cursor: 'pointer' }
          : userService.currentUser.id === user.id
          ? { 'background-color': 'black' }
          : { cursor: 'pointer' }
      "
    >
      <span>{{ user.name }}</span
      ><span>{{ user.rut }}</span
      ><span>{{ user.department.name }}</span>
    </li>
  </ul>
  <form
    (ngSubmit)="
      userService.getForm(
        userService.userFormTemp,
        userService.isCreateUserOpened && !userService.isUpdateUserOpened
          ? 'isCreate'
          : 'isUpdate'
      )
    "
    class="flex-center"
    id="userInfo"
    *ngIf="userService.isCreateUserOpened || userService.isUpdateUserOpened"
    [ngStyle]="userService.isCreateUserOpened ? { width: '100%' } : {}"
  >
    <div class="flex-center inputBlock">
      <label for="name">Nombre: </label>
      <input
        [(ngModel)]="userService.userFormTemp.name"
        type="text"
        name="name"
        id="name"
        style="cursor: text"
      />
    </div>
    <div class="flex-center inputBlock">
      <label for="rut">Rut: </label>
      <input
        [(ngModel)]="userService.userFormTemp.rut"
        type="text"
        name="rut"
        id="rut"
        style="cursor: text"
      />
    </div>
    <div class="flex-center inputBlock" *ngIf="!userService.isCreateUserOpened">
      <label for="oldPass">Contraseña Actual: </label>
      <input
        type="password"
        name="oldPass"
        id="oldPass"
        style="cursor: text"
        [(ngModel)]="userService.userFormTemp.password"
      />
    </div>
    <div class="flex-center inputBlock">
      <label for="newPass">Nueva contraseña: </label>
      <input
        type="password"
        name="newPass"
        id="newPass"
        style="cursor: text"
        [(ngModel)]="userService.userFormTemp.newPass"
      />
    </div>
    <div class="flex-center inputBlock">
      <label for="newPassConfirm">Confirmar nueva contraseña: </label>
      <input
        type="password"
        name="newPassConfirm"
        id="newPassConfirm"
        style="cursor: text"
        [(ngModel)]="userService.userFormTemp.confirmPass"
      />
    </div>
    <div class="flex-center inputBlock">
      <label for="email">Email: </label>
      <input
        type="email"
        name="email"
        id="email"
        style="cursor: text"
        [(ngModel)]="userService.userFormTemp.email"
      />
    </div>
    <div class="flex-center inputBlock">
      <label for="department">Departamento: </label>
      <select
        [selectedIndex]="
          userService.currentUser && userService.isUpdateUserOpened
            ? userService.currentUser.department.id + 1
            : null
        "
        name="deparment"
        id="department"
        style="cursor: pointer"
        [(ngModel)]="userService.userFormTemp.department"
      >
        <option value="0"></option>
        <option
          *ngFor="let department of userService.departmentList"
          [value]="department.id + 1"
        >
          {{ department.name }}
        </option>
      </select>
    </div>
    <div class="flex-center inputBlock">
      <button type="submit" style="cursor: pointer">Guardar</button>
    </div>
  </form>
  <ul
    class="flex-center"
    id="userListDel"
    *ngIf="userService.isDeleteUserOpened"
  >
    <li
      class="flex-center"
      id="userData"
      *ngFor="let user of userService.usersList"
    >
      <div class="flex-center full-area">
        <span
          >Nombre:{{ " " + user.name + " | " }}Rut:{{ " " + user.rut }}</span
        >
        <span
          >Email:{{ " " + user.email + " | " }}Area:{{
            " " + user.department.name
          }}</span
        >
      </div>
      <button
        type="button"
        (click)="userService.deleteUser(user)"
        style="cursor: pointer"
      >
        Eliminar
      </button>
    </li>
  </ul>
</section>
