<app-navbar />
<app-login *ngIf="!userService._userConstants.user" />

<main
  class="flex-center"
  *ngIf="userService._userConstants.user"
>
  <app-screen-groups
    *ngIf="!userService._userConstants.isUserPanelOpened && !scrn._screensConstants.isPanelScreenOpened"
  />
  <app-management-promos
    *ngIf="!scrn._screensConstants.isCreateGroupOpened && !userService._userConstants.isUserPanelOpened && !scrn._screensConstants.isPanelScreenOpened"
  />
  <app-user-panel *ngIf="userService._userConstants.isUserPanelOpened" />
  <app-user-management *ngIf="userService._userConstants.isUserPanelOpened" />
  <app-create-group
    *ngIf="scrn._screensConstants.isCreateGroupOpened && !userService._userConstants.isUserPanelOpened"
  />
  <app-screen-panel *ngIf="scrn._screensConstants.isPanelScreenOpened" />
  <app-screen-management *ngIf="scrn._screensConstants.isPanelScreenOpened" />
</main>
