main {
  margin-top: 9vh;
  width: 100vw;
  height: 92vh;
  flex-flow: row nowrap;
  justify-content: space-around;
}

app-screen-groups,
app-user-panel,
app-screen-panel {
  width: 20%;
  height: 95%;
}

app-management-promos,
app-user-management,
app-create-group,
app-screen-management {
  width: 75%;
  height: 95%;
}
