<aside class="full-area border-box bg-primary">
  <ul class="full-area">
    <li
      class="full-area flex-center"
      (click)="openCreateUser()"
      [ngStyle]="
        !constants._userConstants.isCreateUserOpened
          ? { cursor: 'pointer' }
          : { 'background-color': 'black' }
      "
    >
      Crear usuarios
    </li>
    <li
      class="full-area flex-center"
      (click)="openUpdateUser()"
      [ngStyle]="
        !constants._userConstants.isUpdateUserOpened
          ? { cursor: 'pointer' }
          : { 'background-color': 'black' }
      "
    >
      Modificar usuarios
    </li>
    <li
      class="full-area flex-center"
      (click)="openDeleteUser()"
      [ngStyle]="
        !constants._userConstants.isDeleteUserOpened
          ? { cursor: 'pointer' }
          : { 'background-color': 'black' }
      "
    >
      Eliminar usuarios
    </li>
  </ul>
</aside>
