<aside class="full-area border-box bg-primary">
  <ul class="full-area">
    <li
      *ngFor="let groupScreen of constants._scrnConstants.activeGroupScreens"
      (click)="takeScreens(groupScreen)"
      class="full-area flex-center border-box"
      [ngStyle]="{
        'background-color':
          constants._scrnConstants.currentGroup &&
          constants._scrnConstants.isActiveGroup &&
          constants._scrnConstants.currentGroup.ID === groupScreen.ID
            ? 'black'
            : 'transparent',
        'cursor':
          constants._scrnConstants.currentGroup &&
          constants._scrnConstants.isActiveGroup &&
          constants._scrnConstants.currentGroup.ID === groupScreen.ID
            ? 'default'
            : 'pointer',
        
      }"
    >
      <span>{{ groupScreen.Name + " " }}</span>
    </li>
    <button
      type="button"
      class="full-area border-box"
      [ngStyle]="{
      'background-color':
        constants._scrnConstants.isCreateGroupOpened 
          ? 'black'
          : 'transparent',
      'cursor':
        constants._scrnConstants.isCreateGroupOpened
          ? 'default'
          : 'pointer',
      
    }"
      (click)="addGroup()"
    >
      Agregar Grupo
    </button>
  </ul>
</aside>
