<section class="flex-center border-box bg-primary">
  <div class="flex-center border-box" id="screens">
    <ul class="flex-center border-box" id="addScreen">
      <li class="full-area flex-center">Barra Jockers</li>
      <li class="full-area flex-center">Escenario Jockers</li>
      <li class="full-area flex-center">Barra Railway</li>
      <li class="full-area flex-center">Escenario Railway</li>
      <li class="full-area flex-center">Grupo de Pantallas 5</li>
      <li class="full-area flex-center">Pantalla 6</li>
      <li class="full-area flex-center">Pantalla 7</li>
      <li class="full-area flex-center">Pantalla 8</li>
      <li class="full-area flex-center">Pantalla 9</li>
      <li class="full-area flex-center">Pantalla 10</li>
      <li class="full-area flex-center">Pantalla 1</li>
      <li class="full-area flex-center">Pantalla 2</li>
      <li class="full-area flex-center">Pantalla 3</li>
      <li class="full-area flex-center">Pantalla 4</li>
      <li class="full-area flex-center">Pantalla 5</li>
      <li class="full-area flex-center">Pantalla 6</li>
      <li class="full-area flex-center">Pantalla 7</li>
      <li class="full-area flex-center">Pantalla 8</li>
      <li class="full-area flex-center">Pantalla 9</li>
      <li class="full-area flex-center">Pantalla 10</li>
      <li class="full-area flex-center">Pantalla 1</li>
      <li class="full-area flex-center">Pantalla 2</li>
      <li class="full-area flex-center">Pantalla 3</li>
      <li class="full-area flex-center">Pantalla 4</li>
      <li class="full-area flex-center">Pantalla 5</li>
      <li class="full-area flex-center">Pantalla 6</li>
      <li class="full-area flex-center">Pantalla 7</li>
      <li class="full-area flex-center">Pantalla 8</li>
      <li class="full-area flex-center">Pantalla 9</li>
      <li class="full-area flex-center">Pantalla 10</li>
      <li class="full-area flex-center">Pantalla 1</li>
      <li class="full-area flex-center">Pantalla 2</li>
      <li class="full-area flex-center">Pantalla 3</li>
      <li class="full-area flex-center">Pantalla 4</li>
      <li class="full-area flex-center">Pantalla 5</li>
      <li class="full-area flex-center">Pantalla 6</li>
      <li class="full-area flex-center">Pantalla 7</li>
      <li class="full-area flex-center">Pantalla 8</li>
      <li class="full-area flex-center">Pantalla 9</li>
      <li class="full-area flex-center">Pantalla 10</li>
    </ul>
    <ul class="flex-center border-box" id="screenAdded">
        <li class="full-area flex-center">Barra Jockers</li>
        <li class="full-area flex-center">Escenario Jockers</li>
        <li class="full-area flex-center">Barra Railway</li>
        <li class="full-area flex-center">Escenario Railway</li>
        <li class="full-area flex-center">Grupo de Pantallas 5</li>
        <li class="full-area flex-center">Pantalla 6</li>
        <li class="full-area flex-center">Pantalla 7</li>
        <li class="full-area flex-center">Pantalla 8</li>
        <li class="full-area flex-center">Pantalla 9</li>
        <li class="full-area flex-center">Pantalla 10</li>
        <li class="full-area flex-center">Pantalla 1</li>
        <li class="full-area flex-center">Pantalla 2</li>
        <li class="full-area flex-center">Pantalla 3</li>
        <li class="full-area flex-center">Pantalla 4</li>
        <li class="full-area flex-center">Pantalla 5</li>
        <li class="full-area flex-center">Pantalla 6</li>
        <li class="full-area flex-center">Pantalla 7</li>
        <li class="full-area flex-center">Pantalla 8</li>
        <li class="full-area flex-center">Pantalla 9</li>
        <li class="full-area flex-center">Pantalla 10</li>
        <li class="full-area flex-center">Pantalla 1</li>
        <li class="full-area flex-center">Pantalla 2</li>
        <li class="full-area flex-center">Pantalla 3</li>
        <li class="full-area flex-center">Pantalla 4</li>
        <li class="full-area flex-center">Pantalla 5</li>
        <li class="full-area flex-center">Pantalla 6</li>
        <li class="full-area flex-center">Pantalla 7</li>
        <li class="full-area flex-center">Pantalla 8</li>
        <li class="full-area flex-center">Pantalla 9</li>
        <li class="full-area flex-center">Pantalla 10</li>
        <li class="full-area flex-center">Pantalla 1</li>
        <li class="full-area flex-center">Pantalla 2</li>
        <li class="full-area flex-center">Pantalla 3</li>
        <li class="full-area flex-center">Pantalla 4</li>
        <li class="full-area flex-center">Pantalla 5</li>
        <li class="full-area flex-center">Pantalla 6</li>
        <li class="full-area flex-center">Pantalla 7</li>
        <li class="full-area flex-center">Pantalla 8</li>
        <li class="full-area flex-center">Pantalla 9</li>
        <li class="full-area flex-center">Pantalla 10</li>
      </ul>
  </div>
  <div class="flex-center border-box" id="config">
    <div class="flex-center border-box" id="preview">previsualizador</div>
    <div class="flex-center border-box" id="details">
      configuracion del grupo
    </div>
  </div>
</section>
